// error page styles

.error-page{
    background-color: #3eaeff;
}

.section-error {
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 0 30px 30px;
}

.error-container {
    position: relative;
    // background-color: white;
    // border-radius: 10px;
    color: #ffffff;
    padding: 0;
    font-size: 18px;
    margin: 10px 0px 40px;
    line-height: 1.5;
    min-height: 600px;
    @media (max-width: 885px) {
        text-align: center;
    }
    h1 {
        font-size: 40px;
        padding-bottom: 20px;
        @media (max-width: 620px) {
            font-size: 35px;
        }
        @media (max-width: 420px) {
            font-size: 28px;
        }
    }
    p {
        color: #ffffff;
        font-size: 26px;
        line-height: 1.5;
        @media (max-width: 620px) {
            font-size: 22px;
        }
        @media (max-width: 420px) {
            font-size: 19px;
        }
    }
}

.error-content {
    padding: 190px 0px 0 368px;
    @media (max-width: 885px) {
        padding: 0 0 0 0;
    }
}

.error-shiffy {
    position: absolute;
    max-width: 500px;
    // width: 50%;
    @media (max-width: 885px) {
        position: relative;
        margin: 0 auto;
    }
    @media (max-width: 530px) {
        width: 100%;
    }
}

.error-content-icons {
    padding-bottom: 40px;
    a {
        display: inline-block;
        margin: 0 12px;
        text-decoration: none;
        text-align: center;
        width: 120px;
        &:first-child {
            @media (max-width: 1030px) {
                margin-left: 0px;
            }
        }
        @media (max-width: 1030px) {
            margin: 0 6px;
            width: 100px;
        }
        @media (max-width: 530px) {
            margin: 0 2px;
        }
        img {
            position: relative;
            top: 8px;
            width: 100px;
            @media (max-width: 965px) {
                width: 70px;
            }
            @media (max-width: 530px) {
                width: 50px;
            }
            &.-big {
                width: 90px;
                top: 0px;
                @media (max-width: 965px) {
                    width: 60px;
                }
                @media (max-width: 530px) {
                    width: 50px;
                }
            }
        }
        span {
            display: block;
            text-align: center;
            line-height: 1.2;
            position: relative;
            top: -5px;
            font-size: 15px;
            min-height: 80px;
            @media (max-width: 965px) {
                font-size: 13px;
            }
            @media (max-width: 530px) {
                font-size: 12px;
            }
        }
    }
}
