// footer styles

.section-footer-scene {
    position: relative;
    height: 1278px;
    width: 100%;
    // max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    background: #E5F8FF url(../images/home/bg-footer.png) 50% 50% no-repeat;
}


.main-footer {
    //position: fixed;
    position: relative;
    width: 100%;
    background-color: $color-footer-background;
    color: $color-accent-font;
    font-size: 16px;
    height: 120px;
    .main-footer__container {
    }
}