// footer styles

.main-footer {
    //position: fixed;
    //bottom: 0;
    position: relative;
    width: 100%;
    background-color: $color-footer-background;
    color: $color-accent-font;
    font-size: 16px;
    height: 120px;
    @media (max-width: $breakpoint-air) {
        // position: relative;
    }
    .main-footer__container {
        position: relative;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
        @media (max-width: $breakpoint-big-tablet) {
            text-align: right;
            margin: 0px 40px;
        }
        @media (max-width: $breakpoint-phone) {
            width: 220px;
            font-size: 16px;
            position: absolute;
            right: 20px;
            margin: 0;
            padding-top: 40px;
            line-height: 1.2;
        }
        @media (max-width: $breakpoint-small-phone) {
            width: 142px;
            font-size: 12px;
        }
    }
}

.shifty {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 450px;
    @media (max-width: $breakpoint-footer) {
        left: 22px;
        width: 401px;
        height: 185px;
    }
    @media (max-width: $breakpoint-tablet) {
        width: 340px;
    }
    @media (max-width: $breakpoint-phone) {
        left: 10px;
    }
    img {
        display: block;
        @media (max-width: $breakpoint-footer) {
            width: 208px;
        }
        @media (max-width: $breakpoint-tablet) {
            width: 150px;
            position: absolute;
            bottom: 0;
        }
        @media (max-width: $breakpoint-smaller-phone) {
            width: 140px;
        }
    }
    .shifty__quote {
        position: absolute;
        right: 40px;
        top: 0;
        padding: 14px 30px;
        background-color: $color-footer-background;
        color: $color-form-input;
        border-radius: 30px;
        &:before {
            content: "";
            position: absolute;
            bottom: -15px;
            right: 110px;
            border-width: 0 0 20px 30px;
            border-style: solid;
            border-color: transparent $color-footer-background;
            display: block;
            width: 0;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -15px;
            right: 120px;
            border-width: 0 0 20px 20px;
            border-style: solid;
            border-color: transparent $color-footer-background;
            display: block;
            width: 0;
        }
    }
}