// global styles

html {
    height: 100%;
}

body {
    background-color: $color-background;
    color: $color-main-font;
    font-family: "San Francisco", "Arial", "San-Serif";
    font-size: 16px;
    height: 100%;
}

.page-wrap {

}