// home styles

.section-home {
    max-width: 1015px;
    margin: 100px auto;  
}

.newsletter-signup__intro {
    max-width: 800px;
}

.featured-in {
    margin-top: 175px;
}

.featured-in__intro {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.featured-in__items {
    &:after {
        content:'';
        display:block;
        clear:both;
    }
}

.featured-in__item {
    transition: all 0.250s;
    display: inline-block;
    opacity: 0.7;
    text-decoration: none;
    margin-right: 30px;
    transform: scale(0.95);
    &:hover {
        opacity: 1;
        transform: scale(1);
    }
}

