// home styles

.home-hero {
    height: 850px;
    background: transparent url('../../static/images/home/home-hero.jpg') 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: $breakpoint-800) {
        background: transparent url("../../static/images/home/home-hero.jpg") 75% 80px no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.home-tagline {
    padding-top: 100px;
    width: 60%;
    @media (max-width: $breakpoint-800) {
        width: 100%;
    }
}

.home-subtitle {
    padding-top: 10px;
    margin-bottom: 80px;
}

.home-integrations {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    box-sizing: border-box;
    min-height: 200px;
    box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.2);
    text-align: center;
    padding: 30px 10px;
    img {
        display: inline;
        width: 45%;
    }
}

.home-integrations__footer {
    padding: 30px 0 20px;
    text-align: center;
    font-size: 18px;
    color: #9A9A9A;
}
