// home styles

.section-intro {
    position: relative;
    overflow: hidden;
    height: 1000px;
    background-color: white;
    // max-width: 1015px;
    // margin: 100px auto 120px;
    @media (max-width: $breakpoint-air) {
        height: 930px;
    } 
    @media (max-width: $breakpoint-big-tablet) {
        height: 820px;
    } 
    @media (max-width: $breakpoint-800) {
        height: 810px;
    }
    @media (max-width: $breakpoint-new-phone) {
        height: 670px;
    }  
}

.section-intro__intro {
    @media (max-width: $breakpoint-800) {
        text-align: center;
    } 
}

.section-header {
    text-align: center;
    color: #979797;
    padding: 12px 20px;
    border: 1px solid #979797;
    font-size: 18px;
    text-transform: uppercase;
    width: 110px;
    border-radius: 5px;
    margin: 0 auto;
}

.intro-rect {
    position: absolute;
    top: 0;
    left: -50px;
    height: 300px;
    width: 200%;
    background-color: #ef5262;
}
.intro-rect2 {
    position: absolute;
    top: 40px;
    left: -50%;
    height: 665px;
    width: 200%;
    background-color: #f55a5d;
    transform: rotate(-15deg);
    overflow: hidden;
    @media (max-width: $breakpoint-air) {
        height: 610px;
    } 
    @media (max-width: $breakpoint-700) {
        height: 610px;
    } 
    @media (max-width: $breakpoint-new-phone) {
        height: 530px;
    } 
}

.shiffy-image {
    width: 425px;
    @media (max-width: $breakpoint-air) {
        width: 390px;
    } 
    @media (max-width: $breakpoint-big-tablet) {
        width: 300px;
    }
    @media (max-width: $breakpoint-new-phone) {
        width: 245px;
    } 
}

.intro-shiffy {
    transition: all 0.25s;
    position: absolute;
    left: 50%;
    bottom: -335px;
    width: 462px;
    height: 440px;
    transform: rotate(15deg) translateX(-150%) translateY(400px);
    &.-show-shiffy {
        transform: rotate(15deg) translateX(-150%) translateY(0px);
        @media (max-width: $breakpoint-big-tablet) {
            transform: rotate(15deg) translateX(-100%) translateY(-80px);
        }
        @media (max-width: $breakpoint-new-phone) {
            transform: rotate(15deg) translateX(-90%) translateY(-80px);
        } 
    }
    @media (max-width: $breakpoint-air) {
        bottom: -360px;
    } 
    @media (max-width: $breakpoint-big-tablet) {
        bottom: -360px;
        height: 340px
    } 
    @media (max-width: $breakpoint-new-phone) {
        width: 398px
    } 
    @media (max-width: $breakpoint-smaller-phone) {
        display: none;
    } 
}

.intro-shiffy__quote {
    transition: all 0.25s;
    position: absolute;
    top: 14px;
    right: -142px;
    transform: translateY(400px);
    &.-animate {
        transform: translateY(0px);
    }
    @media (max-width: $breakpoint-air) {
        top: 2px;
        right: -110px;
    } 
    @media (max-width: $breakpoint-big-tablet) {
        top: -43px;
        right: -25px;
    }
    @media (max-width: $breakpoint-new-phone) {
        width: 220px
    } 
}

.intro-shiffy__quote-text {
    transition: all 0.25s;
    display: none;
    position: absolute;
    width: 250px;
    height: 75px;
    top: 20px;
    right: -142px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    z-index: 100;
    line-height: 1.3;
    box-sizing: border-box;
    padding-top: 20px;
    @media (max-width: $breakpoint-air) {
        top: 10px;
        right: -110px;
    } 
    @media (max-width: $breakpoint-big-tablet) {
        top: -38px;
        right: -25px;
    }
    @media (max-width: $breakpoint-new-phone) {
        top: -43px;
        right: -20px;
        width: 200px;
        height: 75px;
        font-size: 13px;
    } 
}

.section-intro__container {
    position: relative;
    width: 100%;
    max-width: 1050px;
    margin: 220px auto 40px;
    @media (max-width: $breakpoint-big-tablet) {
        margin: 200px 40px 40px;
        text-align: center;
        width: auto;
        max-width: auto;
    } 
    @media (max-width: $breakpoint-800) {
        padding: 0 10px;
        width: auto;
    }
    @media (max-width: $breakpoint-700) {
        margin: 130px auto 40px;
    }
    @media (max-width: $breakpoint-new-phone) {
        margin: 114px auto 40px;
    } 
}

.section-intro__form-container {
    max-width: 674px;
    @media (max-width: $breakpoint-big-tablet) {
        margin: 0 auto;
    } 
}

.section-intro__intro {
    @media (max-width: $breakpoint-700) {
        font-size: 34px;
    } 
    @media (max-width: $breakpoint-new-phone) {
        font-size: 29px;
    } 
}

.section-intro__subtitle {
    font-size: 18px;
    padding-top: 15px;
    @media (max-width: $breakpoint-800) {
        text-align: center;
    }
    @media (max-width: $breakpoint-new-phone) {
        margin-bottom: 20px;
    } 
}

.seciont-intro__screenshot {
    position: absolute;
    top: -20px;
    right: -40px;
    width: 400px;
    @media (max-width: $breakpoint-air) {
        width: 400px;
    } 
    @media (max-width: $breakpoint-big-tablet) {
        display: none;
    } 
}

.section-intro__form {
    margin: 40px 0 0px;
    &.-success, &.-fail {
        display: none;  
    } 
    @media (max-width: $breakpoint-new-phone) {
        margin: 30px 0 0px;
    } 
}

.section-intro__input {
    margin-right: 10px;
    width: 50%;
    @media (max-width: $breakpoint-800) {
        width: 68%;
    }
    @media (max-width: $breakpoint-700) {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 8px;
    }
    &.-error {
        border: 1px solid red;
    }
}

.button__signup {
    position: relative;
    overflow: hidden;
    @media (max-width: $breakpoint-800) {
        width: 25%;
    }
    @media (max-width: $breakpoint-700) {
        width: 100%;
        box-sizing: border-box;
    }
}

.app-button {
    @media (max-width: $breakpoint-800) {
        display: none;
    } 
}

.section-intro__spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    background: $color-button-border url(../images/ajax-loader.gif) 50% 50% no-repeat;
}

.section-intro__message {
    font-family: "San Francisco Bold";
    font-size: 20px;
    position: relative;
    padding-left: 40px;
    @media (max-width: $breakpoint-phablet) {
        font-family: "San Francisco";
        font-weight: normal;
        font-size: 18px;
        text-align: left;
    }
    @media (max-width: $breakpoint-new-phone) {
        font-family: "San Francisco";
        font-weight: normal;
        font-size: 16px;
        text-align: left;
    }
}

.section-intro__check--success, .section-intro__check--fail {
    position: absolute;
    left: 0;
    top: -1px;
    width: 26px;
    height: 30px;
    background-color: $color-main-font;
    border-radius: 50%;
    font-size: 22px !important;
    line-height: 1.3 !important;
    color: green;
    padding-left: 4px
}

.section-intro__check--fail {
    color: red;
    width: 24px;
    padding-left: 6px;
}



.section-download {
    text-align: center;
    padding: 70px 0px;
    background-color: #E5F8FF;
    @media (max-width: $breakpoint-new-phone) {
        padding: 50px 0px;
    }
    .section-download__button {
        margin: 0 40px;
        @media (max-width: $breakpoint-phablet) {
            margin: 0 10px;
        }
        @media (max-width: $breakpoint-smaller-phone) {
            margin: 0 6px;
        }
        img {
            width: 200px;
            @media (max-width: $breakpoint-new-phone) {
                width: 160px;
            }
            @media (max-width: $breakpoint-smaller-phone) {
                width: 140px;
            }
        }
    }
}


