// nav styles

.topnav-container {
    top: 0px;
    position: fixed;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 26px;
    text-align: right;
    background-color: #ffffff;
    z-index: 10;
}

.topnav-logo {
    position: absolute;
    left: 20px;
}

footer {
    background-color: $color-footer-background;
    padding: 20px 20px 40px;
    text-align: center;
    font-size: 14px;
}

.footer-ctas {
    text-align: right;
    .button {
        margin-left: 20px;
    }
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
        padding-bottom: 10px;
        .button {
            margin: 0 10px;
        }
    }
}

.footer-buttons {
    padding: 20px 0 40px;
    img {
        margin: 0 5px;
        @media (max-width: $breakpoint-tablet) {
            width: 150px;
        }
    }
}

@media (max-width: $breakpoint-small-phone) {
  .contact-header {
    & a.contact-header--phone-number {
      left: 60px;
    }
  }
}
