// globals

// breakpoints
$breakpoint-phone: 490px;
$breakpoint-tablet: 778px;
$breakpoint-phablet: 640px;
$breakpoint-nav: 765px;
$breakpoint-air: 992px;
$breakpoint-big-tablet: 1080px;

// branded colors
$color-background: #3eaeff;
$color-main-font: white;
$color-accent-font: #c4c4c4;
$color-accent2-font: #2f2f2f;
$color-footer-background: white;
$color-form-input: #000000;

// buttons
$color-button: #3eaeff;
$color-button-border: white;

// action colors
