// animations
@keyframes hero-float {
	0% {
		transform: translate(0px,5px);
	}
	50% {
		transform: translate(4px, -5px);
	}
	100% {
		transform: translate(0px, 5px);
	}
}

@keyframes phone-bounce {
	0% {
		transform: translateY(60px);
	}
	100% {
		transform: translateY(0px);
	}
}
