// compliances styles

.section-compliance-intro {
    position: relative;
    overflow: hidden;
    min-height: 1106px;
    margin-top: 146px;
    background: url(../images/compliance/bg-compliance.jpg) 50% 50%;
}

.section-regions {
    min-height: 500px;
    padding: 80px 20px;
}

.compliance-hero {
    position: relative;
    max-width: 900px;
    min-height: 890px;
    width: 90%;
    padding: 60px 20px 40px;
    margin: 0 auto;
    text-align: center;
}

.compliance-hero__heading {
    font-size: 30px;
    line-height: 1.3;
}

.compliance-hero__footer {
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 0;
    transform: translateX(-50%);
}

.compliance-img__building {
    position: absolute;
    left: 50%;
    top: 216px;
    transform: translateX(-50%);
    width: 668px;
    z-index: 100;
}

.compliance-img__cert {
    transition: all 0.3s;
    position: absolute;
    left: 0px;
    top: 35%;
    width: 320px;
    transform: translateX(-400px);
    &.-animate {
        transform: translateX(0px);
    }
}

.compliance-img__cloud {
    position: absolute;
    &.-cloud1 {
        //transition: all 60s;
        animation: animateClouds 40s linear 0s 1, loopBigClouds 60s linear 40s infinite;
        top: 190px;
        left: 400px;
        width: 190px;
        transition-timing-function: linear;
        // &.-animate {
        //     left: 100%;
        // }
    }
    &.-cloud2 {
        // transition: all 54s;
        animation: animateClouds 20s linear 0s 1, loopBigClouds 64s linear 20s infinite;
        top: 210px;
        left: 920px;
        width: 190px;
        // &.-animate {
        //     left: 100%;
        // }
    }
    &.-cloud3 {
        // transition: all 54s;
        animation: animateClouds 100s linear 0s infinite;
        top: 260px;
        left: -88px;
        width: 88px;
        // &.-animate {
        //     left: 100%;
        // }
    }
    &.-cloud4 {
        // transition: all 54s;
        animation: animateClouds 100s linear 40s infinite;
        top: 260px;
        left: -190px;
        width: 78px;
        // &.-animate {
        //     left: 100%;
        // }
    }
}

@keyframes animateClouds {
    100% { left: 100%; }
}

@keyframes loopBigClouds {
    0% { left: -190px; }
    100% { left: 100%; }
}
