// footer styles

footer {
    min-height: 400px;
    background-color: #F2F7FA;
    color: #646464;
}

.footer-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-links {
    position: relative;
    padding: 90px 0 60px;
    margin: 0 40px;
    border-bottom: 1px solid #355070;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.footer-links__group {
    width: 16.6%;
    float: left;
    box-sizing: border-box;
    padding-right: 100px;
    color: #646464;
    @media (max-width: $breakpoint-phablet) {
        width: 100%;
        float: none;
        padding-right: 0;
        display: block;
        margin-bottom: 39px;
    }
    @media (max-width: 975px) {
        width: 40%;
    }
    &.-left {
        width: 50%;
        @media (max-width: 975px) {
            width: 100%;
            float: none;
            padding-right: 0;
            display: block;
        }
    }
    &.-last {
        padding-right: 0;
        position: absolute;
        right: 0;
        width: 170px;
        @media (max-width: $breakpoint-phablet) {
            position: relative;
            width: 100%;
            float: none;
            padding-right: 0;
            display: block;
            margin-bottom: 0;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        color: #646464;
        opacity: 0.5;
    }
    a {
        transition: all .25s;
        text-decoration: none;
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
        color: #646464;
        opacity: 0.5;
        &:hover {
            color: #3EAEFF;
        }
    }
    span {
        opacity: 0.5;
    }
}

.footer-copyright {
    padding: 40px 0px;
    margin: 0 20px;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    @media (max-width: $breakpoint-phablet) {
        padding: 20px 0px;
        &:after {
            content: ' ';
            display: table;
            clear: both;
        }
    }
    p {
        color: #646464;
        opacity: 0.5;
        display: inline-block;
        padding: 10px 0 0 15px;
        @media (max-width: $breakpoint-phablet) {
            margin-bottom: 10px;
        }
    }
    .footer-images {
        float: right;
        margin-right: 20px;
        @media (max-width: $breakpoint-phablet) {
            float: left;
        }
        .footer-images__item {
            display: inline-block;
            margin-left: 20px;
        }
        .footer-icon {
            position: relative;
            top: -4px;
            transition: all 0.25s;
            display: inline-block;
            background-image: url(https://myshyft.com/static/images/buttons/btns-footer.png);
            margin: 0 0 0 30px;
            width: 28px;
            height: 28px;
            @media (max-width: $breakpoint-phablet) {
                display: none;
            }
            &.-instagram {}
            &.-twitter {
                background-position: -88px 0px;
                width: 31px;
            }
            &.-facebook {
                background-position: -172px 0px;
                width: 22px;
                margin-right: 20px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
