// home styles

.section-intro {

}

.section-header {
    text-align: center;
    color: #979797;
    padding: 12px 20px;
    border: 1px solid #979797;
    font-size: 18px;
    text-transform: uppercase;
    width: 110px;
    border-radius: 5px;
    margin: 0 auto;
}

.intro-rect {
    position: absolute;
    top: 0;
    left: -50px;
    height: 300px;
    width: 200%;
    background-color: #F4FBFF;
}
.intro-rect2 {
    position: absolute;
    top: 40px;
    left: -50%;
    height: 500px;
    width: 200%;
    background-color: #eff5f9;
    transform: rotate(-15deg);
    overflow: hidden;
    @media (max-width: $breakpoint-air) {
        height: 610px;
    }
    @media (max-width: $breakpoint-700) {
        height: 610px;
    }
    @media (max-width: $breakpoint-new-phone) {
        height: 530px;
    }
}

.section-intro__container {
    position: relative;
    padding: 246px 40px 0;
    max-width: 1220px;
    margin: 0 auto;
}

.section-intro {
    position: relative;
    overflow: hidden;
    min-height: 780px;
}

.section-intro__content {
    width: 50%;
    p {
        font-size: 18px;
        color: #3C3C3C;
        padding: 20px 0 40px;
    }
    .section-intro__header {
        font-size: 36px;
        color: #3C3C3C;
    }
    .button-biz {
        text-align: center;
        width: 140px;
        margin-right: 40px;
    }
}

.section-intro__image {
    transition: all 0.35s;
    position: absolute;
    right: 0;
    top: 140px;
    transform: translateX(627px);
    &.-animate {
        transform: translateX(0px);
    }
}

.section-home-features {
    // min-height: 1000px;
}

.home-features__content {
    max-width: 1200px;
    padding: 80px 20px;
    color: #808080;
    text-align: center;
    margin: 0 auto;
}

.home-features__header {
    font-size: 36px;
    font-weight: bold;
    color: #383838;
}

.home-features__subheader {
    font-size: 24px;
    color: #808080;
    width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.home-features {
    padding: 60px 0 0;
}

.home-features__row {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.home-featurs__item {
    float: left;
    width: 33.3%;
    min-height: 270px;
}

.home-features__time--img-holder {
    position: relative;
    height: 140px;
    width: 164px;
    margin: 0 auto;
}

.home-featurs__item--img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 164px;
}

.home-featurs__item--title {
    font-size: 20px;
    font-weight: bold;
    color: #636363;
    padding: 10px 0;
}

.home-featurs__item--desc {
    font-size: 14px;
    color: #636363;
}
