// how shyft works styles

.how-shyft-works__buttons {
    position: relative;
    padding: 210px 0 116px 0;
    text-align: center;
    z-index: 1;
    a {
        width: 160px;
        margin: 0px 10px;
    }
}

.section-real-time {
    position: relative;
    overflow: hidden;
    min-height: 905px;
}
