// increase profits styles

.section-increase-profits {
    position: relative;
    min-height: 600px;
    background-color: #26CE93;
    color: white;
    text-align: center;
}

.increase-profits__image {
    position: absolute;
    width: 188px;
    top: 50px;
    &.-left {
        left: 80px;
    }
    &.-right {
        right: 80px;
    }
}

.increase-profits__content {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.increase-profits__content {
    padding: 70px 20px;
}

.increase-profits__header {
    font-size: 30px;
    font-weight: bold;
}

.increase-profits__subheader {
    font-size: 24px;
    padding: 15px 0px;
    margin: 0;
}

.increase-profits__total {
    font-size: 64px;
    font-weight: bold;
    padding: 50px 0 70px;
    @media (max-width: $breakpoint-phablet) {
        font-size: 40px;
        padding: 30px 0 50px;
    }
}

.increase-profits__calc {
    max-width: 825px;
    width: 100%;
}

.increase-profits__item {
    position: relative;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding-right: 200px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
        padding: 0;
    }
}

.increase-profits__label {
    position: relative;
    padding-top: 10px;
    @media (max-width: $breakpoint-phablet) {
        padding-bottom: 10px;
        line-height: 1.4;
    }
}

.increase-profits__input {
    transition: all 0.25s;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    min-width: 162px;
    height: 52px;
    text-align: center;
    border-radius: 28px;
    margin-left: 40px;
    background-color: #21B07E;
    &.-focus {
        background-color: #3EAEFF;
    }
    .label {
        position: absolute;
        left: 35px;
        top: 16px;
        font-size: 20px;
        &.-right {
            left: auto;
            right: 30px;
        }
        @media (max-width: $breakpoint-phablet) {
            top: 18px;
        }
    }
    input {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 20px;
        text-align: center;
        width: 100px;
        margin-left: 0px;
        // appearance: none;
        -moz-appearance: textfield;
        &:focus {
            border: none;
            outline: none;
        }
        &::-webkit-inner-spin-button {
            appearance: none;
        }
        &::-webkit-outer-spin-button {
            appearance: none;
        }
        @media (max-width: $breakpoint-phablet) {
            font-size: 25px;
            box-sizing: border-box;
            width: 100%;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        height: 58px;
    }
}

.increase-profits__average {
    display: block;
    opacity: 0.6;
}

.increase-profits__cta {
    padding: 40px;
    a {
        width: 200px;
        @media (max-width: $breakpoint-phablet) {
            display: block;
            width: auto;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        padding: 40px 0;
    }
}
