// security styles

.section-security-intro {
    min-height: 272px;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    @media (max-width: $breakpoint-phablet) {
        padding-top: 130px;
        min-height: auto;
    }
}

.security-intro {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px;
    @media (max-width: $breakpoint-phablet) {
        padding: 0 20px 40px;
    }
}

.security-intro__header {
    font-size: 30px;
    color: #676767;
    padding-bottom: 20px;
}

.security-intro__description {
    font-size: 20px;
    color: #676767;
}

.section-space {
    position: relative;
    overflow: hidden;
    background-color: #FFEE92;
    text-align: center;
}

.map-container {
    position: relateive;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    padding: 15px 0 30px;
}

.map-phone__container {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
    width: 305px;
    height: 455px;
    .map-phone {
        width: 305px;
    }
}

.map-image {
    width: 100%;
    max-width: 900px;
}

.space-earth {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    max-width: 700px;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    @media (max-width: $breakpoint-phablet) {
        width: 100%;
        top: 230px;
        transform: translate(-50%, 0%);
    }
}

.space-quote1 {
    transition: all 0.35s;
    position: absolute;
    left: 50%;
    top: 50px;
    width: 430px;
    height: 112px;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
    box-sizing: border-box;
    background: transparent url(../images/security/quote-top.png) 0 0 no-repeat;
    background-size: cover;
    opacity: 0;
    &.-animate {
        opacity: 1;
    }
    @media (max-width: $breakpoint-phablet) {
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: $breakpoint-small-phone) {
        background-size: contain;
        width: 100%;
        font-size: 15px;
    }

}

.space-quote2 {
    transition: all 0.35s;
    position: absolute;
    right: 50%;
    top: 200px;
    width: 425px;
    height: 88px;
    padding: 30px 50px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
    box-sizing: border-box;
    background: transparent url(../images/security/quote-bottom.png) 0 0 no-repeat;
    background-size: cover;
    opacity: 0;
    &.-animate {
        opacity: 1;
    }
    @media (max-width: $breakpoint-phablet) {
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: $breakpoint-small-phone) {
        background-size: contain;
        width: 100%;
        font-size: 15px;
    }
}

.space-earth__shiffy {
    position: absolute;
    right: 200px;
    bottom: 200px;
    width: 206px;
    height: 233px;
    animation: float 5s ease-in-out infinite;
    @media (max-width: $breakpoint-phablet) {
        bottom: 125px;
        right: 50%;
        transform: translateX(50%);
    }
}

.section-encryption {
    padding: 100px 40px;
    text-align: center;
    @media (max-width: $breakpoint-phablet) {
        padding: 80px 20px;
    }
}

.encryption-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    @media (max-width: $breakpoint-phablet) {
        padding: 60px 0;
    }
}

.encryption-image {
    max-width: 593px;
    width: 60%;
    &.-mobile {
        display: none;
    }
    @media (max-width: $breakpoint-phablet) {
        display: none;
        &.-mobile {
            width: 100%;
            max-width: 300px;
            display: block;
            margin: 0 auto 60px auto;
        }
    }
}

.encryption-labels {
    text-align: center;
}

.encryption-label__item--container {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    // max-width: 300px;
    padding: 20px;
    @media (max-width: $breakpoint-phablet) {
        width: 100%;
    }
}

.encryption-label__item {
    display: block;
    color: #4A4A4A;
    font-size: 30px;
    background-color: #F0F3F5;
    border-radius: 20px;
    padding: 20px 50px;
    @media (max-width: $breakpoint-phablet) {
        width: auto;
        font-size: 24px;
    }
}

@keyframes float {
	0% {
		transform: translate(0px,0px);
	}
	50% {
		transform: translate(-10px, 30px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
