// slider styles

.error {
    color: red !important;
}

.slider-container {
    display: none;
    transition: all 0.25s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    &.-active {
        display: block;
    }
}

.slider-overlay {
    display: aboslute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    &.-active {
        opacity: 0.65;
    }
}

.slder-content {
    transition: all 0.25s;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    width: 50%;
    height: 100%;
    background-color: white;
    transform: translateX(500px);
    overflow: auto;
    &.-active {
        transform: translateX(0);
    }
    @media (max-width: 900px) {
        width: 75%;
    }
    @media (max-width: 600px) {
        width: 98%;
        max-width: 98%;
        height: 98%;
        right: 1%;
        top: 1%;
    }
}

.slider-wrapper {
    position: relative;
    min-height: 100%;
}

.slider-nav {
    position: relative;
    width: auto;
    min-height: 100px;
    background: linear-gradient(315deg, #3acdf0, #256dab);
    box-sizing: border-box;
    text-align: center;
    &.-extended {
        min-height: 350px;
        // min-height: 250px;
        @media (max-width: 600px) {
            min-height: 175px;
        }
    }
}

.slider-nav-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.slider-nav-items {
    padding: 30px;
}

.slider-body {
    padding: 40px 40px 40px 40px;
    text-align: center;
    color: #5C5C5C;
    .slider-h2 {
        font-size: 24px;
        font-weight: bold;
        color: #5C5C5C;
        margin-bottom: 30px;
    }
    p {
        font-size: 14px;
        text-align: left;
        color: #5C5C5C;
        margin-bottom: 20px;
    }
    a {
        color: #3EAEFF;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &.-centered {
        p {
            text-align: center;
        }
    }
}

.slider-mobile-entry {
    position: relative;
    padding: 20px 20px 20px 55px;
    background-color: #EBEEF2;
    border-radius: 5px;
    margin: 40px 20px;
    color: #000000;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    input {
        width: 80%;
        box-sizing: border-box;
        font-size: 15px;
        padding: 0;
        margin-left: 20px;
        background-color: #EBEEF2;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button {
            appearance: none;
        }
        &::-webkit-outer-spin-button {
            appearance: none;
        }
        &:focus {
            outline: none;
        }
    }
    &.-error {
        border: 1px solid red;
    }
}

.slider-country-code {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.slider-mobile-flag {
    width: 23px;
}

.slider-mobile-country-code {
    position: relative;
    top: -1px;
    padding-left: 6px;
}

.country-switcher {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    width: 160px;
    height: 140px;
    overflow: auto;
    position: absolute;
    top: -40px;
    left: 20px;
    display: none;
}

.country-switcher__item {
    padding: 10px 10px 0px 10px;
}

.slider-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 198px;
    transform: translate(-50%,-50%);
}

.slider-back-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 18px;
}

.slider-resend-cta {
    padding: 80px 0 50px 0;
    @media (max-width: 600px) {
        padding: 40px 0 30px 0;
    }
}

.slider-phone-number {
    font-size: 28px;
    font-weight: bold;
    color: #969696;
    padding-bottom: 40px;
    @media (max-width: 600px) {
        padding-bottom: 30px;
    }
}

.slider-confirm-code {
    padding: 40px 0 80px;
    text-align: center;
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.slider-confirm-code__item {
    display: inline-block;
    width: 70px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    input {
        width: 40px;
        text-align: center;
        padding: 0;
        font-size: 48px;
        line-height: 1.6;
        &:focus {
            outline: none;
        }
    }
    @media (max-width: 600px) {
        margin: 0 5px;
        width: 55px;
        height: 60px;
        input {
            width: 30px;
            font-size: 36px;
        }
    }
}

.slider-footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    .button-footer__login {
        width: 50%;
    }
    @media (max-height: 630px) {
        position: relative;
        bottom: auto;
        left: auto;
        margin-bottom: 40px;
    }
}

// buttons
.button-slider {
    transition: all 0.25s;
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 35%;
    margin: 0 15px;
    text-decoration: none;
    &.-selected {
        background-color: white;
        color: #3EAEFF;
        box-shadow: 4px 4px 30px rgba(255, 255, 255, 0.4);
        &:hover {
            transform: scale(1);
        }
    }
    &:hover {
        transform: scale(1.05);
    }
}

.button-resend {
    display: inline-block;
    transition: all 0.25;
    background-color: #EEF3F7;
    color: #8B98A2 !important;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    &:hover {
        transform: scale(1.04);
        color: #8B98A2 !important;
        text-decoration: none !important;
    }
}

.slider-signup-cta {
    position: relative;
    width: 100%;
    min-height: 240px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 14px;
    background: linear-gradient(315deg, #ff6e40, #ffc24a);
    margin: 50px 0;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1);
    p {
        color: white;
        font-size: 18px;
    }
    input {
        font-size: 15px;
        background-color: white;
        border-radius: 5px;
        width: 70%;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    &.-join-team {
        background: linear-gradient(315deg, #1cda68, #00aac7);
    }
}

.slider-signup-cta__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 105px;
    &.-join-team {
        height: 86px;
    }
}

.slider-team-name {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 37px;
}

.slider-avatar {
    padding: 50px 0 70px;
}

.slider-avatar__upload {
    position: relative;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }
}

.slider-avatar__upload-btn {
    position: absolute;
    top: -4px;
    right: 22px;
    z-index: 1;
}

.slider-avatar__upload-btn--img {
    width: 38px !important;
    height: 38px !important;
}

.slider-signup-bio {
    text-align: center;
    input {
        width: 80%;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #EBEEF2;
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
    }
}

.slider-avatar__details {
    text-align: center;
    padding: 20px 0;
}

.slider-avatar__details-name {
    font-weight: bold;
    font-size: 15px;
    color: #5C5C5C;
    padding-bottom: 10px;
}

.slider-avatar__details-job {
    font-size: 15px;
    color: #A2A2A2;
}

.slider-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url(../images/slider/ajax-loader.gif) 50% 50% no-repeat;
    background-color: white;
    display: none;
    z-index: 100;
}

.slider-close-btn {
    display: none !important;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    text-decoration: none;
    font-size: 30px !important;
    @media (max-width: 600px) {
        display: block !important;
    }
}

// views
.slider-phone-error, .slider-verify-code-error, #view-confirm-code, #view-signup, #view-more-info, #view-signup-phone, #view-signup-verify-phone {
    display: none;
}
