// globals

// breakpoints
$breakpoint-smaller-phone: 359px;
$breakpoint-small-phone: 442px;
$breakpoint-phone: 490px;
$breakpoint-tablet: 550px;
$breakpoint-footer: 750px;
$breakpoint-phablet: 640px;
$breakpoint-new-phone: 420px;
$breakpoint-air: 1291px;
$breakpoint-700: 700px;
$breakpoint-800: 800px;
$breakpoint-nav: 900px;
$breakpoint-950: 950px;
$breakpoint-1080: 1080px;
$breakpoint-big-tablet: 1118px;

// branded colors
$color-background: #FFFFFF;
$color-main-font: #41464C;
$color-accent-font: #c4c4c4;
$color-footer-background: #F2F7FA;
$color-link: #3EAEFF;

// buttons
$color-button: #ffffff;
$color-button-background: #282828;
