// globals

// breakpoints
$breakpoint-smaller-phone: 390px;
$breakpoint-small-phone: 442px;
$breakpoint-phone: 490px;
$breakpoint-tablet: 550px;
$breakpoint-phablet: 640px;
$breakpoint-footer: 750px;
$breakpoint-air: 1000px;
$breakpoint-big-tablet: 1120px;

// branded colors
$color-background: #ff5e5b;
$color-main-font: white;
$color-accent-font: #c4c4c4;
$color-accent2-font: #2f2f2f;
$color-footer-background: white;
$color-form-input: #000000;
$color-form-highlight: #ffb6b5;

// buttons
$color-button: #ff5e5b;
$color-button-border: white;

// action colors
