/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco Bold";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
h1 {
  font-size: 50px;
  font-family: "San Francisco Bold";
  color: white;
  line-height: 1.2;
}

p {
  color: white;
  line-height: 1.4;
  margin-bottom: 40px;
}
p a {
  color: #5c6369;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 40px;
  color: #5c6369;
  list-style: circle;
  padding-left: 30px;
  line-height: 1.4;
}

body {
  background-color: #3eaeff;
  color: white;
  font-family: "San Francisco", "Arial", "San-Serif";
  font-size: 16px;
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #c4c4c4;
  font-size: 16px;
  height: 120px;
}
.main-footer .main-footer__container {
  position: relative;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.shifty {
  position: absolute;
  left: 100px;
  bottom: -20px;
  width: 450px;
  height: 236px;
}
.shifty .shifty__quote {
  position: absolute;
  right: 40px;
  top: 0;
  padding: 14px 30px;
  background-color: white;
  color: #000000;
  border-radius: 30px;
}
.shifty .shifty__quote:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 110px;
  border-width: 0 0 20px 30px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
}
.shifty .shifty__quote:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 120px;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
}

.main-navigation {
  height: 92px;
}

.section-home {
  max-width: 1015px;
  margin: 100px auto;
}

.newsletter-signup__intro {
  max-width: 800px;
}

.newsletter-signup__form {
  margin: 40px 0 0px;
}

.newsletter-signup__input {
  margin-right: 10px;
  width: 40%;
}

.newsletter-signup__success {
  font-family: "San Francisco Bold";
  font-size: 20px;
}

.featured-in {
  margin-top: 175px;
}

.featured-in__intro {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.featured-in__items:after {
  content: '';
  display: block;
  clear: both;
}

.featured-in__item {
  transition: all 0.250s;
  display: inline-block;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 30px;
  transform: scale(0.95);
}
.featured-in__item:hover {
  opacity: 1;
  transform: scale(1);
}

input {
  background-color: white;
  color: #000000;
  border: 0;
  font-size: 16px;
  padding: 14px;
}

.button {
  transition: all 0.250s;
  border: 0;
  background-color: #3eaeff;
  font-size: 16px;
  padding: 11px 30px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: #3eaeff;
}
