/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco Bold";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
h1 {
  font-size: 50px;
  font-family: "San Francisco Bold";
  color: white;
  line-height: 1.2;
}

p {
  color: white;
  line-height: 1.4;
  margin-bottom: 40px;
}
p a {
  color: #5c6369;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 40px;
  color: #5c6369;
  list-style: circle;
  padding-left: 30px;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  color: white;
  font-family: "San Francisco", "Arial", "San-Serif";
  font-size: 16px;
  height: 100%;
}

.section-footer-scene {
  position: relative;
  height: 1278px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #E5F8FF url(../images/backgrounds/bg-footer.jpg) 50% 50% no-repeat;
  background-size: cover;
}
@media (max-width: 1118px) {
  .section-footer-scene {
    height: 840px;
  }
}

.shiffy-footer {
  position: absolute;
  left: 20%;
  top: 26%;
  max-width: 195px;
  width: 20%;
}
@media (max-width: 1291px) {
  .shiffy-footer {
    max-width: 160px;
    left: 32%;
    top: 26%;
  }
}
@media (max-width: 1118px) {
  .shiffy-footer {
    max-width: 140px;
    left: 32%;
    top: 20%;
  }
}

.request-demo {
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  max-width: 800px;
  margin: 0;
  text-align: center;
}
@media (max-width: 1118px) {
  .request-demo {
    top: 50%;
    max-width: 600px;
  }
}

.request-demo__heading {
  font-size: 64px;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  margin-bottom: 95px;
}
@media (max-width: 1118px) {
  .request-demo__heading {
    font-size: 42px;
    margin-bottom: 50px;
  }
}

.main-footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 238px;
  background: linear-gradient(to top, #1B3092 35%, transparent 75%);
}
.main-footer .main-footer__container {
  padding-top: 50px;
}
.main-footer .main-footer__links {
  padding-bottom: 40px;
}
.main-footer .main-footer__links a {
  transition: all 0.25s;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
  line-height: 1.3;
}
.main-footer .main-footer__links a:hover {
  opacity: 0.5;
}
.main-footer .main-footer__social {
  padding-bottom: 40px;
}
.main-footer .main-footer__social a {
  transition: all 0.25;
  display: inline-block;
  background-image: url(../images/buttons/btns-footer.png);
  margin: 0 28px;
  width: 28px;
  height: 28px;
}
.main-footer .main-footer__social a.-twitter {
  background-position: -88px 0px;
  width: 31px;
}
.main-footer .main-footer__social a.-facebook {
  background-position: -172px 0px;
  width: 22px;
}
.main-footer .main-footer__social a.-email {
  background-position: -244px 0px;
  width: 38px;
}
.main-footer .main-footer__social a:hover {
  opacity: 0.6;
}
.main-footer .main-footer__copyright {
  opacity: 0.6;
}

.main-navigation {
  position: absolute;
  top: 0;
  height: 92px;
  width: 100%;
  max-width: 1300px;
  z-index: 100;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-navigation .main-navigation__container {
  padding: 44px 15px 0;
}

.main-navigation__item {
  float: right;
  margin-left: 15px;
  margin-top: 6px;
}

.section-intro {
  position: relative;
  overflow: hidden;
  height: 1000px;
  background-color: white;
}
@media (max-width: 1291px) {
  .section-intro {
    height: 930px;
  }
}
@media (max-width: 1118px) {
  .section-intro {
    height: 820px;
  }
}
@media (max-width: 800px) {
  .section-intro {
    height: 810px;
  }
}

@media (max-width: 800px) {
  .section-intro__intro {
    text-align: center;
  }
}

.section-header {
  text-align: center;
  color: #979797;
  padding: 12px 20px;
  border: 1px solid #979797;
  font-size: 18px;
  text-transform: uppercase;
  width: 110px;
  border-radius: 5px;
  margin: 0 auto;
}

.intro-rect {
  position: absolute;
  top: 0;
  left: -50px;
  height: 300px;
  width: 200%;
  background-color: #ef5262;
}

.intro-rect2 {
  position: absolute;
  top: 40px;
  left: -50%;
  height: 665px;
  width: 200%;
  background-color: #f55a5d;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  overflow: hidden;
}
@media (max-width: 1291px) {
  .intro-rect2 {
    height: 610px;
  }
}

.shiffy-image {
  width: 425px;
}
@media (max-width: 1291px) {
  .shiffy-image {
    width: 390px;
  }
}
@media (max-width: 1118px) {
  .shiffy-image {
    width: 300px;
  }
}

.intro-shiffy {
  transition: all 0.25s;
  position: absolute;
  left: 50%;
  bottom: -335px;
  width: 462px;
  height: 440px;
  -webkit-transform: rotate(15deg) translateX(-150%) translateY(400px);
  -ms-transform: rotate(15deg) translateX(-150%) translateY(400px);
  transform: rotate(15deg) translateX(-150%) translateY(400px);
}
.intro-shiffy.-show-shiffy {
  -webkit-transform: rotate(15deg) translateX(-150%) translateY(0px);
  -ms-transform: rotate(15deg) translateX(-150%) translateY(0px);
  transform: rotate(15deg) translateX(-150%) translateY(0px);
}
@media (max-width: 1118px) {
  .intro-shiffy.-show-shiffy {
    -webkit-transform: rotate(15deg) translateX(-100%) translateY(-80px);
    -ms-transform: rotate(15deg) translateX(-100%) translateY(-80px);
    transform: rotate(15deg) translateX(-100%) translateY(-80px);
  }
}
@media (max-width: 1291px) {
  .intro-shiffy {
    bottom: -360px;
  }
}
@media (max-width: 1118px) {
  .intro-shiffy {
    bottom: -360px;
    height: 340px;
  }
}

.intro-shiffy__quote {
  transition: all 0.25s;
  position: absolute;
  top: 14px;
  right: -142px;
  -webkit-transform: translateY(400px);
  -ms-transform: translateY(400px);
  transform: translateY(400px);
}
.intro-shiffy__quote.-animate {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
@media (max-width: 1291px) {
  .intro-shiffy__quote {
    top: 2px;
    right: -110px;
  }
}
@media (max-width: 1118px) {
  .intro-shiffy__quote {
    top: -43px;
    right: -25px;
  }
}

.intro-shiffy__quote-text {
  transition: all 0.25s;
  display: none;
  position: absolute;
  width: 250px;
  height: 75px;
  top: 20px;
  right: -142px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  z-index: 100;
  line-height: 1.3;
  box-sizing: border-box;
  padding-top: 20px;
}
@media (max-width: 1291px) {
  .intro-shiffy__quote-text {
    top: 10px;
    right: -110px;
  }
}
@media (max-width: 1118px) {
  .intro-shiffy__quote-text {
    top: -38px;
    right: -25px;
  }
}

.section-intro__container {
  position: relative;
  width: 100%;
  max-width: 1050px;
  margin: 220px auto 40px;
}
@media (max-width: 1118px) {
  .section-intro__container {
    margin: 200px 40px 40px;
    text-align: center;
    width: auto;
    max-width: auto;
  }
}
@media (max-width: 800px) {
  .section-intro__container {
    width: auto;
  }
}

.section-intro__form-container {
  max-width: 674px;
}
@media (max-width: 1118px) {
  .section-intro__form-container {
    margin: 0 auto;
  }
}

.section-intro__subtitle {
  font-size: 18px;
  padding-top: 15px;
}
@media (max-width: 800px) {
  .section-intro__subtitle {
    text-align: center;
  }
}

.seciont-intro__screenshot {
  position: absolute;
  top: -20px;
  right: -40px;
}
@media (max-width: 1118px) {
  .seciont-intro__screenshot {
    display: none;
  }
}

.section-intro__form {
  margin: 40px 0 0px;
}
.section-intro__form.-success, .section-intro__form.-fail {
  display: none;
}

.section-intro__input {
  margin-right: 10px;
  width: 50%;
}
@media (max-width: 800px) {
  .section-intro__input {
    width: 68%;
  }
}
.section-intro__input.-error {
  border: 1px solid red;
}

.button__signup {
  position: relative;
  overflow: hidden;
}
@media (max-width: 800px) {
  .button__signup {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .app-button {
    display: none;
  }
}

.section-intro__spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  background: white url(../images/ajax-loader.gif) 50% 50% no-repeat;
}

.section-intro__message {
  font-family: "San Francisco Bold";
  font-size: 20px;
  position: relative;
  padding-left: 40px;
}
@media (max-width: 640px) {
  .section-intro__message {
    font-family: "San Francisco";
    font-weight: normal;
  }
}

.section-intro__check--success, .section-intro__check--fail {
  position: absolute;
  left: 0;
  top: -1px;
  width: 26px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  font-size: 22px !important;
  line-height: 1.3 !important;
  color: green;
  padding-left: 4px;
}

.section-intro__check--fail {
  color: red;
  width: 24px;
  padding-left: 6px;
}

.section-download {
  text-align: center;
  padding: 70px 0px;
  background-color: #E5F8FF;
}
.section-download .section-download__button {
  margin: 0 40px;
}
.section-download .section-download__button img {
  width: 180px;
}

.section-featured-in {
  padding-bottom: 65px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.featured-in {
  padding-top: 60px;
}

.featured-in__items {
  text-align: center;
}
.featured-in__items:after {
  content: '';
  display: block;
  clear: both;
}

.featured-in__item {
  transition: all 0.250s;
  display: inline-block;
  opacity: 0.3;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.featured-in__item img {
  display: block;
  margin: 0 auto;
}
.featured-in__item:hover {
  opacity: 0.7;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.featured-in__item:last-child {
  margin-right: 0;
}
@media (max-width: 1291px) {
  .featured-in__item {
    margin-right: 12px;
  }
}
@media (max-width: 640px) {
  .featured-in__item {
    width: 35%;
    margin: 0;
  }
}
@media (max-width: 442px) {
  .featured-in__item {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-in__item.-wsj, .featured-in__item.-fox {
    width: 25%;
    margin-left: 10px;
  }
}
@media (max-width: 550px) {
  .featured-in__item.-wsj, .featured-in__item.-fox {
    width: 47%;
    margin-left: 10px;
  }
}
@media (max-width: 442px) {
  .featured-in__item.-wsj, .featured-in__item.-fox {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-in__item.-the-star {
    width: 44%;
  }
}
@media (max-width: 550px) {
  .featured-in__item.-the-star {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-in__item.-bloomberg, .featured-in__item.-globe {
    width: 100%;
  }
}

.section-features {
  position: relative;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.features-top {
  position: absolute;
  width: 100%;
  height: 50%;
}
.features-top.-slide1 {
  background-color: #3EAEFF;
}
.features-top.-slide2 {
  background-color: #26CE93;
}
.features-top.-slide3 {
  background-color: #FC5858;
}

.features-controls {
  position: relative;
  width: 100%;
  height: 210px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 70px;
  box-sizing: border-box;
  padding-left: 164px;
}
@media (max-width: 1118px) {
  .features-controls {
    max-width: 600px;
    padding-left: 130px;
    height: 190px;
  }
}

.features-controls__profile {
  position: absolute;
  left: 0;
  top: 70px;
  width: 125px;
  height: 125px;
}
@media (max-width: 1118px) {
  .features-controls__profile {
    width: 100px;
    height: 100px;
  }
}

.features-controls__prev, .features-controls__next {
  opacity: 0.3;
  position: absolute;
  top: 108px;
}
.features-controls__prev img, .features-controls__next img {
  width: 32px;
  height: 52px;
}
.features-controls__prev:hover, .features-controls__next:hover {
  opacity: 0.8;
}
@media (max-width: 1118px) {
  .features-controls__prev, .features-controls__next {
    top: 84px;
  }
}

.features-controls__prev {
  left: -100px;
}

.features-controls__next {
  right: -100px;
}

.features-controls__slide1, .features-controls__slide2, .features-controls__slide3 {
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 1118px) {
  .features-controls__slide1, .features-controls__slide2, .features-controls__slide3 {
    font-size: 28px;
  }
}

.features-controls__slide2, .features-controls__slide3 {
  display: none;
}

.features-controls__note {
  position: absolute;
  width: 330px;
  top: 140px;
  left: 160px;
  opacity: 0.4;
}
@media (max-width: 1118px) {
  .features-controls__note {
    top: 121px;
    left: 115px;
  }
}

.features-screenshots {
  position: relative;
  padding-top: 20px;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
}
.features-screenshots:after {
  content: '';
  display: block;
  clear: both;
}

.features-item {
  transition: all 0.2s;
  display: inline-block;
  margin: 0 50px;
}
@media (max-width: 1118px) {
  .features-item {
    margin: 0 25px;
  }
}
.features-item img {
  display: none;
}

.features-item__label {
  position: relative;
  margin: 35px 0;
  font-size: 24px;
  font-weight: bold;
  padding: 14px 45px;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 1118px) {
  .features-item__label {
    font-size: 20px;
    padding: 14px 36px;
  }
}
.features-item__label.-slide1 {
  background-color: #3EAEFF;
}
.features-item__label.-slide2 {
  background-color: #26CE93;
}
.features-item__label.-slide3 {
  background-color: #FC5858;
}
.features-item__label:before {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
  display: block;
  top: 12px;
  left: 10px;
  background: transparent url(../images/home/features/bg-label-left.png) 0 0 no-repeat;
}
.features-item__label:after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
  display: block;
  top: 12px;
  right: 10px;
  background: transparent url(../images/home/features/bg-label-right.png) 0 0 no-repeat;
}

.feature-slide {
  display: none;
}

.features-slide1 {
  display: block;
}

input {
  background-color: white;
  color: #000000;
  border: 0;
  font-size: 16px;
  padding: 14px;
  border-radius: 3px;
}
input:focus {
  outline-color: #ffb6b5;
}

.button {
  transition: all 0.250s;
  border: 0;
  background-color: #ff5e5b;
  font-size: 16px;
  padding: 11px 30px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.button:hover {
  background-color: white;
  color: #ff5e5b;
}
.button:focus {
  outline-color: #ffb6b5;
}

.button__nav {
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 7px;
  border: 2px solid white;
}
.button__nav:hover {
  background-color: white;
  color: #ff5e5b;
}

.button__request-demo {
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 50px;
  margin-top: 7px;
  border: 2px solid white;
}
.button__request-demo:hover {
  background-color: white;
  color: #3EAEFF;
}
