/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco Bold";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
h1 {
  font-size: 50px;
  font-family: "San Francisco Bold";
  color: white;
  line-height: 1.2;
}

p {
  color: white;
  line-height: 1.4;
  margin-bottom: 40px;
}
p a {
  color: #5c6369;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 40px;
  color: #5c6369;
  list-style: circle;
  padding-left: 30px;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  background-color: #3eaeff;
  color: white;
  font-family: "San Francisco", "Arial", "San-Serif";
  font-size: 16px;
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -120px;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 120px;
}

.main-footer {
  position: relative;
  width: 100%;
  background-color: white;
  color: #c4c4c4;
  font-size: 16px;
  height: 120px;
}
.main-footer .main-footer__container {
  position: relative;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 1120px) {
  .main-footer .main-footer__container {
    text-align: right;
    margin: 0px 40px;
  }
}
@media (max-width: 490px) {
  .main-footer .main-footer__container {
    width: 220px;
    font-size: 16px;
    position: absolute;
    right: 20px;
    margin: 0;
    padding-top: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 442px) {
  .main-footer .main-footer__container {
    width: 142px;
    font-size: 12px;
  }
}

.shifty {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 450px;
}
@media (max-width: 750px) {
  .shifty {
    left: 22px;
    width: 401px;
    height: 185px;
  }
}
@media (max-width: 550px) {
  .shifty {
    width: 340px;
  }
}
@media (max-width: 490px) {
  .shifty {
    left: 10px;
  }
}
.shifty img {
  display: block;
}
@media (max-width: 750px) {
  .shifty img {
    width: 208px;
  }
}
@media (max-width: 550px) {
  .shifty img {
    width: 150px;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 390px) {
  .shifty img {
    width: 140px;
  }
}
.shifty .shifty__quote {
  position: absolute;
  right: 40px;
  top: 0;
  padding: 14px 30px;
  background-color: white;
  color: #000000;
  border-radius: 30px;
}
.shifty .shifty__quote:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 110px;
  border-width: 0 0 20px 30px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
}
.shifty .shifty__quote:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 120px;
  border-width: 0 0 20px 20px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 0;
}

.main-navigation {
  height: 92px;
}

.section-home {
  max-width: 1015px;
  margin: 100px auto 120px;
}
@media (max-width: 1120px) {
  .section-home {
    margin: 100px 40px;
  }
}
@media (max-width: 490px) {
  .section-home {
    margin: 60px 20px;
  }
}

.newsletter-signup__intro {
  max-width: 800px;
}
@media (max-width: 640px) {
  .newsletter-signup__intro {
    font-size: 33px;
  }
}

.newsletter-signup__form {
  margin: 40px 0 0px;
}
.newsletter-signup__form.-success, .newsletter-signup__form.-fail {
  display: none;
}

.newsletter-signup__input {
  margin-right: 10px;
  width: 40%;
}
@media (max-width: 640px) {
  .newsletter-signup__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}
.newsletter-signup__input.-error {
  border: 1px solid red;
}

.button__signup {
  position: relative;
  overflow: hidden;
}
@media (max-width: 640px) {
  .button__signup {
    width: 100%;
    box-sizing: border-box;
  }
}

.newsletter-signup__spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  background: white url(../images/ajax-loader.gif) 50% 50% no-repeat;
}

.newsletter-signup__message {
  font-family: "San Francisco Bold";
  font-size: 20px;
  position: relative;
  padding-left: 40px;
}
@media (max-width: 640px) {
  .newsletter-signup__message {
    font-family: "San Francisco";
    font-weight: normal;
  }
}

.newsletter-signup__check--success, .newsletter-signup__check--fail {
  position: absolute;
  left: 0;
  top: -1px;
  width: 26px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  font-size: 22px !important;
  line-height: 1.3 !important;
  color: green;
  padding-left: 4px;
}

.newsletter-signup__check--fail {
  color: red;
  width: 24px;
  padding-left: 6px;
}

.featured-in {
  margin-top: 150px;
}
@media (max-width: 1120px) {
  .featured-in {
    margin-top: 120px;
  }
}
@media (max-width: 490px) {
  .featured-in {
    margin-top: 200px;
    margin-bottom: 120px;
  }
}

.featured-in__intro {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
@media (max-width: 640px) {
  .featured-in__intro {
    text-align: center;
    margin-bottom: 30px;
  }
}

.featured-in__items:after {
  content: '';
  display: block;
  clear: both;
}

.featured-in__item {
  transition: all 0.250s;
  display: inline-block;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 30px;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.featured-in__item img {
  display: block;
  margin: 0 auto;
}
.featured-in__item:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.featured-in__item:last-child {
  margin-right: 0;
}
@media (max-width: 1000px) {
  .featured-in__item {
    margin-right: 12px;
  }
}
@media (max-width: 640px) {
  .featured-in__item {
    width: 35%;
    margin: 0;
  }
}
@media (max-width: 442px) {
  .featured-in__item {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-in__item.-wsj, .featured-in__item.-fox {
    width: 25%;
    margin-left: 10px;
  }
}
@media (max-width: 550px) {
  .featured-in__item.-wsj, .featured-in__item.-fox {
    width: 47%;
    margin-left: 10px;
  }
}
@media (max-width: 442px) {
  .featured-in__item.-wsj, .featured-in__item.-fox {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-in__item.-the-star {
    width: 44%;
  }
}
@media (max-width: 550px) {
  .featured-in__item.-the-star {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .featured-in__item.-bloomberg, .featured-in__item.-globe {
    width: 100%;
  }
}

input {
  background-color: white;
  color: #000000;
  border: 0;
  font-size: 16px;
  padding: 14px;
}

.button {
  transition: all 0.250s;
  border: 0;
  background-color: #3eaeff;
  font-size: 16px;
  padding: 11px 30px;
  border: 3px solid white;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: #3eaeff;
}
