/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco Bold";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
h1 {
  font-size: 48px;
  font-family: "San Francisco Bold";
  color: #41464C;
  line-height: 1.1;
}
@media (max-width: 640px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 48px;
  font-family: "San Francisco Bold";
  color: #41464C;
  line-height: 1.1;
}
@media (max-width: 640px) {
  h2 {
    font-size: 40px;
  }
}

p {
  color: #41464C;
  line-height: 1.4;
  margin-bottom: 40px;
}

a {
  color: #3EAEFF;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

ul {
  margin-bottom: 40px;
  color: #5c6369;
  list-style: circle;
  padding-left: 30px;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  color: #41464C;
  font-family: 'TruenoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  height: 100%;
}
body.legal-page {
  background-color: #f55a5d;
}
@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
}

.page-wrap {
  margin-top: 80px;
}

section {
  width: 100%;
  min-height: 750px;
}
@media (max-width: 800px) {
  section {
    min-height: auto;
  }
}

.section-accent {
  position: relative;
  margin-top: 100px;
  background: linear-gradient(0deg, #3EAEFF, #54D4D3 70%);
}

.section-inner, .section-inner-accent {
  position: relative;
  max-width: 1190px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px;
}
@media (max-width: 800px) {
  .section-inner.-bleeding, .section-inner-accent.-bleeding {
    overflow: hidden;
  }
}
@media (max-width: 550px) {
  .section-inner, .section-inner-accent {
    padding: 60px 20px;
    text-align: left;
  }
}

.section-inner-accent {
  color: #FFFFFF;
}
.section-inner-accent h2, .section-inner-accent p {
  color: #FFFFFF !important;
}

.section-content {
  padding: 150px 0;
  width: 50%;
}
.section-content.-right {
  margin-left: 50%;
}
@media (max-width: 800px) {
  .section-content {
    padding: 100px 0;
  }
}
@media (max-width: 550px) {
  .section-content {
    width: 100%;
    padding: 40px 0;
  }
  .section-content.-right {
    margin: 0;
  }
}

.section-content-accent {
  padding: 0 0 40px;
  margin-top: -100px;
  width: 50%;
}
@media (max-width: 800px) {
  .section-content-accent {
    width: 100%;
  }
}

.section-description {
  padding-top: 20px;
  margin-bottom: 60px;
}

.section-feature-phone {
  position: relative;
  top: -150px;
  width: 32%;
}

.section-feature-image {
  position: absolute;
  left: -10px;
  width: 50%;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-feature-image.-right {
  left: auto;
  right: -10px;
}
.section-feature-image.-cloud {
  width: 55%;
  left: auto;
  top: 45%;
  right: -120px;
}
.section-feature-image.-ai {
  top: 50%;
  width: 45%;
  left: 0;
}
@media (max-width: 550px) {
  .section-feature-image {
    position: relative !important;
    left: auto !important;
    right: auto !important;
    width: 90% !important;
    top: auto !important;
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
    margin: 0 5%;
  }
}

.section-footer {
  padding: 40px 0;
}

.topnav-container {
  top: 0px;
  position: fixed;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 26px;
  text-align: right;
  background-color: #ffffff;
  z-index: 10;
}

.topnav-logo {
  position: absolute;
  left: 20px;
}

footer {
  background-color: #F2F7FA;
  padding: 20px 20px 40px;
  text-align: center;
  font-size: 14px;
}

.footer-ctas {
  text-align: right;
}
.footer-ctas .button {
  margin-left: 20px;
}
@media (max-width: 640px) {
  .footer-ctas {
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-ctas .button {
    margin: 0 10px;
  }
}

.footer-buttons {
  padding: 20px 0 40px;
}
.footer-buttons img {
  margin: 0 5px;
}
@media (max-width: 550px) {
  .footer-buttons img {
    width: 150px;
  }
}

@media (max-width: 442px) {
  .contact-header a.contact-header--phone-number {
    left: 60px;
  }
}
.home-hero {
  height: 850px;
  background: transparent url("../../static/images/home/home-hero.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 800px) {
  .home-hero {
    background: transparent url("../../static/images/home/home-hero.jpg") 75% 80px no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (max-width: 640px) {
  .home-hero {
    height: 750px;
    background: transparent url("../../static/images/home/home-hero.jpg") 75% 0px no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.home-tagline {
  padding-top: 100px;
  width: 60%;
}
@media (max-width: 800px) {
  .home-tagline {
    width: 100%;
  }
}

.home-subtitle {
  padding-top: 10px;
  margin-bottom: 80px;
}

.home-integrations {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  box-sizing: border-box;
  min-height: 200px;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px 10px;
}
.home-integrations img {
  display: inline;
  width: 45%;
}
@media (max-width: 550px) {
  .home-integrations img {
    width: 38%;
  }
}
@media (max-width: 800px) {
  .home-integrations {
    right: 30px;
  }
}
@media (max-width: 550px) {
  .home-integrations {
    position: relative;
    right: auto;
    top: auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    width: 100%;
    box-sizing: border-box;
    min-height: auto;
    box-shadow: none;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 40px;
  }
}

.home-integrations__footer {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 18px;
  color: #9A9A9A;
}
@media (max-width: 550px) {
  .home-integrations__footer {
    font-size: 16px;
  }
}

.section-legal {
  max-width: 1000px;
  margin: 120px auto 0;
  padding: 0 25px;
  box-sizing: border-box;
}
@media (max-width: 700px) {
  .section-legal {
    margin: 100px auto 0;
  }
}

.legal-header {
  color: #41464C;
  font-size: 36px;
}
@media (max-width: 700px) {
  .legal-header {
    font-size: 32px;
  }
}

.legal-container {
  background-color: white;
  border-radius: 10px;
  color: #41464C;
  padding: 0 0 30px;
  font-size: 18px;
  margin: 20px 0px;
  line-height: 1.5;
}
.legal-container strong {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 20px;
}
.legal-container strong.hdr-large {
  font-size: 22px;
}
.legal-container strong.hdr-medium {
  font-size: 20px;
}
.legal-container strong.hdr-italics {
  font-style: italic;
}
.legal-container b {
  font-weight: bold;
}
.legal-container p {
  color: #000000;
  margin: 20px 0 30px 0;
  line-height: 1.5;
}
.legal-container ol, .legal-container ul {
  list-style: decimal;
  margin-left: 16px;
  color: #000000;
}
.legal-container ol li, .legal-container ul li {
  line-height: 1.5;
  margin-top: 20px;
  padding-left: 10px;
}
.legal-container ol li strong, .legal-container ol li b, .legal-container ul li strong, .legal-container ul li b {
  padding: 0;
  font-weight: bold;
}
.legal-container.-in-app {
  font-size: 16px;
  padding: 0 18px 30px;
}
.legal-container.-in-app ol, .legal-container.-in-app ul {
  margin-left: 0px;
  padding-left: 12px;
}
.legal-container.-in-app ol li, .legal-container.-in-app ul li {
  margin-top: 10px;
}
.legal-container.-in-app p {
  margin: 10px 0 20px 0;
}

.button {
  transition: all 0.2s;
  display: inline-block;
  padding: 22px 60px;
  background-color: #282828;
  font-family: 'TruenoBold';
  font-size: 18px;
  background-color: #282828;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.button:hover {
  opacity: .75;
}
@media (max-width: 640px) {
  .button {
    font-size: 16px;
    padding: 16px 30px;
  }
}

.button-alt {
  background-color: #ffffff;
  color: #287EBB;
  box-shadow: 5px 5px 30px 5px rgba(255, 255, 255, 0.3);
}

.button-nav {
  background-color: transparent;
  color: #282828;
  box-shadow: none;
  padding: 10px 16px;
  font-size: 15px;
  border: 1px solid #DBDBDB;
}
